# .env
# Usage:
# 1. Rename this file to .env
# 2. Move it to the same folder as the main.py
# 3. Fill in with individual values

ENVIRONMENT=development  # Set to "development" for emulator or "production" for real hardware
LATITUDE=50.04
LONGITUDE=8.56

DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PW=""
DATABASE_PORT=3306
DATABASE_HOST=""

1090_HOST="localhost"
1090_PORT=30003