[Unit]
Description=Dump1090 ADS-B receiver
After=network.target

[Service]
ExecStart=/home/pi/Coding/dump1090/dump1090 --net --quiet
Restart=always
User=pi
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target