[Unit]
Description=Python script to read ADS-B messages
After=dump1090.service planeserver.service

[Service]
WorkingDirectory=/home/pi/PlaneRadar/
ExecStart=/bin/bash -c "source /home/pi/PlaneRadar/venv/bin/activate && python /home/pi/PlaneRadar/planedata_processor.py -s 4 -b"
Restart=always
User=pi

[Install]
WantedBy=multi-user.target