[Unit]
Description=Uvicorn Server to broadcast planeradar data
After=network.target

[Service]
WorkingDirectory=/home/pi/PlaneRadar/
ExecStart=/bin/bash -c "source /home/pi/PlaneRadar/venv/bin/activate && python /home/pi/PlaneRadar/planeradar_server.py"
Restart=always
User=pi

[Install]
WantedBy=multi-user.target