[Unit]
Description=Python script to read ADS-B messages
After=dump1090.service

[Service]
WorkingDirectory=/home/pi/PlaneRadar/
ExecStart=/bin/bash -c "source /home/pi/PlaneRadar/venv/bin/activate && python /home/pi/PlaneRadar/main.py -s 4"
Restart=always
User=pi

[Install]
WantedBy=multi-user.target